<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Meta -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<!-- Title -->
	<title>SHELDYN - Page Not Found</title>
	<!-- CSS Links -->
	<link rel="stylesheet" href="helios/css/main-dark.css">
	<link rel="stylesheet" href="helios/css/responsive.css">
	<link rel="stylesheet" href="helios/css/font-awesome.min.css">
	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon.ico">
	<!-- Fonts -->
	<style>
		@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono|Space+Mono';
	</style>
</head>
<body>
	<div class="container">
		<!-- Overlay -->
		<div class="overlay" id="particles-js"></div>
		<!-- Content -->
		<div class="content">
			<div class="message">
				<p class="message-heading">Page Not Found</p>
				<p class="message-description">The page you are looking for was moved, removed, renamed or might never existed.</p>
			</div>
			<div class="links">
				<a href="/beta/home"></a>
				<a href="https://github.com/followthekoden/Sheldyn/issues"></a>
			</div>
		</div>
		<!-- Social -->
		<!-- <div class="social">
			<ul class="social-list">
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
			</ul>
		</div> -->
	</div>
	<!-- Scripts -->
	<script src="helios/js/particles.js"></script>
	<script src="helios/js/main-dark.js"></script>
</body>
</html>