<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">

<title>

    SHELDYN | Beta

</title>

<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
<link href="/css/toolkit-inverse.css" rel="stylesheet">
<link href="/css/application.css" rel="stylesheet">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon.ico">
<link rel="manifest" href="/favicon/manifest.json">
<script src="/js/chart.js"></script>
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<style>
    /* note: this is a hack for ios iframe for bootstrap themes shopify page */

    /* this chunk of css is not part of the toolkit :) */

    body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
    }
</style>