<nav class="navbar navbar-toggleable-sm fixed-top navbar-inverse bg-inverse app-navbar">
    <button class="navbar-toggler navbar-toggler-right hidden-md-up" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="/">
        <span class="icon icon-qq navbar-brand-icon"></span>
        .RSA Automation.
    </a>

    <div class="collapse navbar-collapse mr-auto" id="navbarResponsive">
        <ul class="nav navbar-nav">
            <li id="dashNav" class="nav-item">
                <a class="nav-link" href="/beta/home">Dashboard</a>
              </li>
              <li id="uploadNav" class="nav-item">
                <a class="nav-link" href="/events/Creator">Upload Data</a>
              </li>
              <li id="incNav" class="nav-item">
                <a class="nav-link" href="/events/list">Incidents</a>
              </li>
              <li id="isoNav" class="nav-item">
                <a class="nav-link" href="/iso/list">ISO Tracker</a>
              </li>
              <li id="schatNav" class="nav-item">
                <a class="nav-link" href="/beta/schat">Chat</a>
              </li>
        </ul>

        <form class="form-inline hidden-sm-down ml-auto">
            <p>Welcome user.userName</p>
            <!-- <input class="form-control" type="text" placeholder="Search" id="my_search" name="search" autocomplete="off"> -->
        </form>
    </div>
</nav>